[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-anthropic = "*"
langchain-google-genai = "*"
langchain-voyageai = "*"
langchain-upstage = "*"
langchain-qdrant = "*"
qdrant-client = "*"
playwright = "*"
tqdm = "*"
nest-asyncio = "*"
beautifulsoup4 = "*"
loguru = "*"
pydantic-settings = "*"
pydantic = "*"
unstructured = "*"
langgraph = "*"
ragas = "*"
streamlit-authenticator = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
